.row#lst-skill
  - %w(design develop).each do |f|
    .col-md-6{id: "#{f}"}
      %h3
        = t "skills.#{f}.title"
      %ul.list-unstyled
        - (1..4).each do |i|
          %li{"data-percent" => (t "skills.#{f}.#{f}-#{i}.percent")}
            %span
              = t "skills.#{f}.#{f}-#{i}.content"
            .holder{id: "#{f}-#{i}"}
              - tname = "skills.#{f}.#{f}-#{i}.percent"
              .bar-process{"style" => "width: #{t(tname)}"}
